{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {# following style insert enables targeting cta when inside view #}
  {# we could also consider doing this in the view mode template for the cta paragraph #}
  {# web/themes/custom/clau2/templates/paragraphs/paragraph--call-to-action--teaser.html.twig #}
  <style>
    .views-row .thisisme-cta-fixed { color: {{ paragraph.field_colour_text.0.entity.field_color.value.0.color }};
  }
  </style>
  {# https://stackoverflow.com/a/67399247/227926 #}
  <div class="thisisme-event-container-outer" style="background-color: {{ paragraph.field_colour_border.0.entity.field_color.value.0.color }}; opacity: {{ paragraph.field_colour_border.0.entity.field_color.value.0.opacity }};">
    {# https://stackoverflow.com/questions/17009620/background-color-not-filling-entire-div #}
    <div class="thisisme-encl thisisme-event-container" style="background-color: {{ paragraph.field_colour_background.0.entity.field_color.value.0.color }}; opacity: {{ paragraph.field_colour_background.0.entity.field_color.value.0.opacity }}; color: {{ paragraph.field_colour_text.0.entity.field_color.value.0.color }};">
      <div{{ attributes.addClass(classes).addClass('thisisme-text') }}>
        {% block content %}
        <div>
          {{ content.field_views_display }}
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
