
.layout-content {
  width: 100%;
}

.layout-content-2-col {
  width: 100%;
}

.layout-content-bottom {
  width: 100%;
  clear: both;
}

.layout-content-2-col {
  width: 100%;
}

.layout-content-2-col .left {
  width: 50%;
  float: left;
}

.layout-content-2-col .right {
  width: 50%;
  float: left;
}

body {
  background: linear-gradient(339deg, rgba(168,162,58,1) 0%, rgba(21,121,9,1) 35%, rgba(0,82,255,1) 100%);
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'exo2', 'sans-serif';
  font-weight: bold;
}

.field--name-body {
  background-color: white;
}