div.region-content-left {
    background-color: white;
    margin: 1em;
    padding: 1em;
}

div.region-content-right {
    background-color: white;
    margin: 1em;
    padding: 1em;
}

div#block-pagetitle {
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

div#block-exposedformsearch-bolsearch-bol-view-display {
    background-color: white;
    margin: 1em;
    padding: 1em;
}

div#block-views-block-search-bol-search-bol-view-display {
    background-color: white;
    margin: 1em;
    padding: 1em;
}

div#block-mainpagecontent {
    margin: 1em;
}

#block-mainpagecontent h2 {
  color: white;
}

div#block-mainpagecontent {
    /* margin: 1em; */
    /* padding-top: 6em; */
    /*padding-left: 1em; */
}