.menu li {
    display: inline-block;
    margin: 0.7em;
}

/* unvisited link */
a:link {
  color: black;
}
  
/* visited link */
a:visited {
  color: grey;
}

#block-mainnavigation .menu li a {
  text-decoration: none;
  font-family: 'exo2', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
}

@media screen and (min-width: 1024px) {
  /* logo - 'site branding block' in header region */
  header[role=banner] {
    /*width: 12%; */
    /* float: left; */
  }

  #header-container {
    display: inline-block;
    vertical-align: top;
  }
  
  .region-primary-menu {
    /* width: 87%; */
    /* float: left; */
    background-color: white;
    height: 90px;
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  #block-mainnavigation .menu li {
    display: inline-block;
  }
}


@media screen and (max-width: 1023px) {
  /* logo - 'site branding block' in header region */
  header[role=banner] {
    width: 100%;
  }
  
  .region-primary-menu {
    width: 100%;
  }

  #block-mainnavigation .menu li {
    display: block;
  }
}

/* imported */

.thisisme-togl-expand {
  color: black;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 50px;
  top: 2.3em;
  text-align: center
}

.thisisme-togl-expand:hover {
  /* color: white; */
  color: black;
}

.thisisme-togl-expand .menu-icon {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.thisisme-togl-expand .menu-icon:hover {
  cursor: pointer
}

.thisisme-togl-expand .menu-icon span {
  /* background: rgb(200, 200, 200); */
  background: rgb(0, 0, 0);
  display: block;
  height: 4px;
  width: 30px;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.thisisme-togl-expand .menu-icon span.top {
  top: 0
}

.thisisme-togl-expand .menu-icon span.middle {
  top: 10px
}

.thisisme-togl-expand .menu-icon span.bottom {
  top: 20px
}

.thisisme-togl-expand .menu-text {
  font-size: 1rem;
  line-height: 1em;
  /* color: rgb(200, 200, 200); */
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.thisisme-togl-expand .menu-text .icon-burger {
  display: block
}

.thisisme-togl-expand .menu-text .icon-close {
  display: none
}

.thisisme-togl-expand:hover .menu-icon span {
  /* ackground: white; */
    background: black;
}

.thisisme-togl-expand:hover .menu-text {
  /* color: white; */
  color: black;
}

.thisisme-togl-expand.thisisme-togl-expand--open:hover .menu-icon span {
  /* background: white; */
  background: black;
}

.thisisme-togl-expand.thisisme-togl-expand--open:hover .menu-text {
  /* color: white; */
  color: black;
}

.thisisme-togl-expand.thisisme-togl-expand--open .menu-icon span {
  /* background: rgb(200, 200, 200); */
  background: black;
}

.thisisme-togl-expand.thisisme-togl-expand--open .menu-icon span.top {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.thisisme-togl-expand.thisisme-togl-expand--open .menu-icon span.middle {
  opacity: 0
}

.thisisme-togl-expand.thisisme-togl-expand--open .menu-icon span.bottom {
  top: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.thisisme-togl-expand.thisisme-togl-expand--open .menu-text {
  /*color: rgb(200, 200, 200); */
  color: black;
}

.thisisme-togl-expand.thisisme-togl-expand--open .menu-text .icon-burger {
  display: none
}

.thisisme-togl-expand.thisisme-togl-expand--open .menu-text .icon-close {
  display: block
}


.thisisme-overlay-menu-bg {
  /* background-color: black; */
  background-color: white;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow-y: scroll;
  z-index: 100;
  height: 100vh;
  overflow: hidden;
}

.thisisme-unoverlay-menu-bg {
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.thisisme-overlay-hdr-hgt-togl-expand-mob-menu {
  height: 100vh;
}

.thisisme-hdr-hgt-init {
  height: 8em;
}

.thisisme-mob-menu-open-home {
  position: absolute;
  left: 1.2em;
}

@media screen and (max-height: 499px ) {
  .thisisme-mob-menu-open-home {
    top: 4.7em;
  }
}

@media screen and (min-height: 500px ) {
  .thisisme-mob-menu-open-home {
    top: 7em;
  }
}


.thisisme-mob-menu-open-non-home {
  position: relative;
  left: -9em;
}

@media screen and (max-height: 499px ) {
  .thisisme-mob-menu-open-non-home {
    top: 4.7em;
  }
}


@media screen and (min-height: 500px ) {
  .thisisme-mob-menu-open-non-home {
    top: 8em;
  }
}


.thisisme-mob-menu-null {
  position: unset;
  top: unset;
  left: unset;
}


a.site-logo img {
  border: 0;
  padding: 1em;
}

div#block-thisisme-branding {
  background-color: white;
  height: 90px;
  margin-left: 1em;
}

div#header-menu {
  background-color: white;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}