.paragraph--type--text,
.paragraph--type--content-2-column {
    padding-top: 2em;
    padding-bottom: 2em;
}



@media screen and (min-width: 1024px) {
.thisisme-column-left {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.thisisme-column-right {
  width: 50%;
  float: right;
  text-align: right;
}

.image-slice .thisisme-cta-outer { 
    margin-left: 50%;
  }
  
}

@media screen and (max-width: 1023px) {
    .thisisme-column-left {
      width: 100%;
      text-align: center;
    }
    
    .thisisme-column-right {
      width: 100%;
      text-align: center;
    }

    .image-slice .thisisme-cta-outer {
        width: 50%;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: auto;
    }

    .image-slice .thisisme-cta-outer { 
        margin-left: auto;
      }
}


.thisisme-cta-fixed a {
    text-decoration: none;
}

.thisisme-cta-fixed {
    padding: 1.2em;
    margin-bottom: 0.2em;
    width: 15em;
    display: inline-block;
    font-family: 'exo2', 'sans-serif';
    font-weight: bold;
    font-size: 1.3em;
    text-align: left;
    text-shadow: none;
}

.node__content > .field--name-field-content {
    /*
    padding: 1em;
    */
}

.node__content > .field--name-field-content > .field__item {
    /*
    padding: 1em;
    margin-bottom: 1em;
    */
}
/*
.node__content > .field__items {
  padding: 1em;
}
*/

.node__content > .field--name-field-content > .field__item > .thisisme-content-2-column {
    margin-left: 10%;
    margin-right: 10%;
}

.paragraph--type--text .field--name-field-text {
    margin-left: 10%;
    margin-right: 10%;
}

.thisisme-content-2-column {
    margin-left: 10%;
    margin-right: 10%;
}

.thisisme-content-2-column .paragraph--type--text .field--name-field-text {
    margin-left: 0%;
    margin-right: 0%;
}

.paragraph--type--text .field--name-field-text {
    font-family: 'exo2', 'sans-serif';
    font-weight: bold;
    font-size: 1.4em;
}


.image-slice {
  text-shadow: 0px 0px 30px rgb(0 0 0 / 90%), 0px 0px 20px rgb(0 0 0 / 50%);
  color: white;
  border-bottom: 1px solid rgb(0 0 0);
}


.cta-hot-orange {
    background:rgb(213, 57, 18);

  border-bottom: 4px solid rgb(130, 35, 12);
  color: white;

}

.cta-sky-blue {
    background:rgb(10, 123, 216);
    border-bottom:6px solid rgb(1, 61, 140); 
    color: white;
}

.cta-sunshine-yellow	{
    background:rgb(184, 162, 49);
    border-bottom:6px solid  rgb(117, 74, 10);
    color: white;
}

.cta-sweet-pink {
    background:rgb(213, 18, 116);
    border-bottom:6px solid  rgb(106, 6, 44); 
    color: white;
}

.cta-warm-red {
    background:rgb(213, 34, 18);
   border-bottom: 6px solid  rgb(90, 8, 0);
   color: white;
}

.cta-deep-green {
    background:rgb(55, 95, 2);
   border-bottom: 6px solid  rgb(40, 67, 5);
   color: white;
}

.cta-lime-green {
    background:rgb(92, 142, 0);
   border-bottom: 6px solid  rgb(66, 117, 1);
   color: white;
}

.cta-coffee {
    background:rgb(142, 95, 0);
   border-bottom: 6px solid  rgb(84, 58, 1);
   color: white;
}

.thisisme-cta-outer {
    width: 20em;
    margin-top: 1em;
}




.image-slice .thisisme-cta-fixed {
    color: white;
}